<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{'jiraRush.passwordReset.title'}">JiraRush - Установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{'greeting'} + ', ' + ${user.firstName} + '.'"></p>
<p th:text="#{'accountInfo'} + ': ' + ${user.email} + '.'"></p>
<a th:href="${resetUrl}" th:text="#{'passwordResetLink'}">Установить пароль</a>
</body>
</html>